<main class='m-16 align-items'>
    <div class="grid grid-cols-2 sm:gap-4 gap-8 items-start">
        <div>
            <h1 class="text-3xl font-bold">Mock Order Creator</h1>
            <p>Use this application to create an XML file that will represent an order such as the outputs that SAP
                would produce</p>
            <br />
            <h2 class="text-xl font-bold">Meta-level Details</h2>
            <form>
                <div class='my-2'>
                    <label for="">Customer ID</label><br />
                    <input id="customer-id-input" type="text"
                        class="input" disabled
                        [value]="SelectedCustomer?.id" />
                </div>
                <div class='my-2'>
                    <label for="">Customer Name</label><br />
                    <select class="select"
                        (change)="UpdateSelectedCustomer($event)">
                        <option value="">Select a Customer</option>
                        <option *ngFor="let customer of Customers" [value]="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
            </form>
            <hr class='my-4' />
            <h2 class="text-xl font-bold">Order Details</h2>
            <form>
                <div class='my-2'>
                    <label for="">Item ID</label>
                    <br />
                    <input type="text" id="product-id"
                        class="input"
                        [value]="SelectedProduct?.id" />
                </div>
                <div class='my-2'>
                    <label for="">Item Name</label>
                    <br />
                    <select id="product-select" class="select"
                        (change)="UpdateSelectedItem($event)">
                        <option value="">Select a Product</option>
                        <option *ngFor="let product of Products" [value]="product.id">
                            {{ product.description }}
                        </option>
                    </select>
                </div>
                <div class='my-2'>
                    <label for="">Quantity</label>
                    <br />
                    <div class='w-80 grid grid-cols-[70%_30%]'>
                        <input type="text" id="product-quantity"
                            class="input" />
                        <span class="input">{{ SelectedProduct?.unit }}</span>
                    </div>
                </div>
            </form>
            <button (click)="AddProductToOrder()" class="my-4 btn btn-primary border">Add To Order</button>
        </div>
        <div class="h-full">
            <div class="h-[48rem] max-h-[48rem] overflow-y-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="">Item ID</th>
                            <th class="">Item Name</th>
                            <th class="">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of OrderItems">
                            <td>{{ p.id }}</td>
                            <td>{{ p.description }}</td>
                            <td>{{ p.quantity }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button (click)="CreateOrder()"
        class="self-auto md:self-end my-4 btn btn-primary">
        Submit Order
    </button>
</main>