@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .tile-header {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .section-header {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

/* DEFINE CUSTOM STYLES HERE */
/* Text styles */

/* Form Component Styles */
.input-container {
  @apply my-1;
}

.input {
  @apply border border-neutral-300 dark:border-neutral-500 focus:outline-neutral-400 focus:dark:outline-neutral-500 dark:bg-neutral-900 rounded px-2 py-1 w-100;
}

.input-select {
  @apply py-1.5;;
}

.btn-primary {
  @apply rounded border border-sky-300 dark:border-sky-600 bg-sky-300 dark:bg-sky-800 p-2 hover:dark:border-sky-400 hover:bg-sky-400 hover:dark:bg-sky-700 hover:cursor-pointer focus:ring-sky-500 focus:ring-2;
}
