@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .tile-header {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .section-header {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

/* DEFINE CUSTOM STYLES HERE */
/* Text styles */
.base-text {
  @apply text-black dark:text-white;
}

h1 {
  @apply text-3xl font-bold my-1;
}

h2 {
  @apply text-2xl font-bold my-1;
}

h3 {
  @apply text-xl font-bold my-1;
}

/* Form Component Styles */
.input-container {
  @apply my-1;
}

.input {
  @apply border border-stone-300 dark:border-stone-500 focus:outline-stone-400 focus:dark:outline-stone-500 bg-stone-50 dark:bg-stone-900 rounded w-100 px-2 py-1;
}

.input-select {
  @apply py-1.5;
}

.dual-input-left-control {
  @apply border border-stone-300 dark:border-stone-500 focus:outline-stone-400 focus:dark:outline-stone-500 bg-stone-50 dark:bg-stone-900 rounded-l w-auto px-2 py-1;
}

.dual-input-right-control {
  @apply border border-stone-300 dark:border-stone-500 focus:outline-stone-400 focus:dark:outline-stone-500 bg-stone-50 dark:bg-stone-900 rounded-r w-auto px-2 py-1;
}

.dual-input-left-leaning {
  @apply grid grid-cols-[70%_30%] mb-2
}

.dual-input-left-leaning>.dual-input-right-control {
  @apply text-black/50 dark:text-white/50
}

.dual-input-right-leaning {
  @apply grid grid-cols-[30%_70%] mb-2
}

.dual-input-right-leaning>.dual-input-left-control {
  @apply text-black/50 dark:text-white/50
}

.btn-primary {
  @apply text-white rounded border border-sky-300 dark:border-sky-600 bg-sky-500 dark:bg-sky-800 p-2 hover:dark:border-sky-400 hover:bg-sky-400 hover:dark:bg-sky-700 hover:cursor-pointer focus:ring-sky-500 focus:ring-2;
}

.btn-secondary {
  @apply rounded border border-sky-300 dark:border-sky-600 bg-sky-300/20 dark:bg-sky-800/20 p-2 hover:dark:border-sky-400 hover:bg-sky-400/20 hover:dark:bg-sky-700/20 hover:cursor-pointer focus:ring-sky-500 focus:ring-2;
}

.btn-success {
  @apply text-white rounded border border-green-300 dark:border-green-600 bg-green-600 dark:bg-green-800 p-2 hover:dark:border-green-400 hover:bg-green-500 hover:dark:bg-green-700 hover:cursor-pointer focus:ring-green-500 focus:ring-2;
}

.btn-danger {
  @apply text-white rounded border border-red-300 dark:border-red-600 bg-red-500 dark:bg-red-800 p-2 hover:dark:border-red-400 hover:bg-red-400 hover:dark:bg-red-700 hover:cursor-pointer focus:ring-red-500 focus:ring-2;
}

/* Misc component styles */
.tile {
  @apply rounded bg-stone-100 dark:bg-stone-800 p-4;
}

.tile-layer-2 {
  @apply bg-stone-200 dark:bg-stone-700 p-2;
}

.badge-success {
  @apply rounded border border-green-300 p-1 bg-green-800 text-green-300;
}

.badge-danger {
  @apply rounded border border-red-300 p-1 bg-red-800 text-red-300;
}

.badge-stone {
  @apply rounded border border-stone-400 p-1 bg-stone-800 text-stone-300;
}

td,
th {
  @apply p-1;
}